.header {
    height: 70vh;
    background-color: $color-light-slate-grey;

    .container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}