.header {
    position: sticky;
    top: 0;
    min-height: 90px;
    padding: 0 20px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: $color-default-white;
}

.header__call {
    align-self: center;
}