.intro {
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro__title {
    margin-bottom: 10px; 
    font: 700 64px/120% $ff-roboto-condensed;
    color: $color-tangerine-yellow;
    letter-spacing: 0.01em;
    text-align: center;

    text-shadow: 1px 0 1px $color-default-black, 
        0 1px 1px $color-default-black, 
        -1px 0 1px $color-default-black, 
        0 -1px 1px $color-default-black;
}

.intro__address {
    margin-top: 15px;
    margin-bottom: 80px;
    font: 700 42px/120% $ff-roboto-condensed;
    color: $color-tangerine-yellow;
    letter-spacing: 0.03em;
    text-align: center;

    text-shadow: 1px 0 1px $color-default-black, 
    0 1px 1px $color-default-black, 
    -1px 0 1px $color-default-black, 
    0 -1px 1px $color-default-black;
}
