.main {
    background-image: url("../img/content/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-flow: column nowrap;
}