.request {
    min-height: 100vh;
    padding: 100px 0;
    display: flex;
}

.request__contents {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-image: url("../img/content/block-2.jpg");
    background-repeat: no-repeat;
    background-position: -620px 0;
    background-size: cover;
}

.request__title {
    margin-bottom: 130px;
    font: 700 48px/120% $ff-roboto-condensed;
    color: $color-default-black;
    text-align: center;
}

.request__form {
    width: 50%;
    align-self: center;
    margin-bottom: 120px;
}