.services {
    min-height: 100vh;
    padding: 100px 0;
    display: flex;
}

.services__contents {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.services__title {
    font: 700 48px/120% $ff-roboto-condensed;
    color: $color-default-black;
    text-align: center;
}

.services__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.services__item {
    @include unselectable;
    min-height: 80px;
    padding: 10px 10px 10px 60px;
    display: flex;
    align-items: center;
    font: 700 28px/120% $ff-roboto-condensed;
    text-transform: uppercase;
    background-color: $color-tangerine-yellow;
    transition: background $trans-default;

    &::before {
        content: "";
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }

    @media (hover: hover), screen and (min-width: 0\0) {
        &:hover {
            background-color: $color-default-white;
        }
    }    
}

.services__key-points-cover {
    display: none;
}

.services__key-points-title {
    margin-top: 50px;
    font: 700 36px/120% $ff-roboto-condensed;
    color: $color-default-black;
    text-align: center;
}

.services__key-points-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    counter-reset: keypoint;
}

.services__key-points-item {
    @include unselectable;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-height: 300px;
    background-color: $color-tangerine-yellow;

    font: 600 28px/120% $ff-roboto-condensed;
    text-transform: uppercase;
    text-align: center;

    &::after {
        counter-increment: keypoint;
        content: counter(keypoint);
        position: absolute;
        right: 0;
        bottom: -30px;
        font: 700 256px/100% $ff-roboto-condensed;
        color: $color-default-black;
        opacity: 0.2;
    }
}